@charset "UTF-8";


// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/mixins/mixins',
  'abstracts/mixins/breakpoints',
  'abstracts/settings/settings-color',
  'abstracts/settings/settings-general',
  'abstracts/settings/settings-typography',
  'abstracts/settings/settings-components',
  'abstracts/properties',
  'abstracts/functions',
  'abstracts/color-tokens';


// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
// @import
//   'layout/header',
//   'layout/footer';

// 5. Components
@import
  'components/buttons';

// 6. Page-specific styles
// @import
//   'pages/home';

// 7. Themes
// @import
//   'themes/default';

:root {
    --global-primary-color: #13133c;
    --global-secondary-color: #4aa94a;
    --global-hover-opacity: 0.7;
    --global-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    --global-slim-content-width: min(850px, 90vw);
    --global-medium-content-width: min(1100px, 90vw);
    --global-wide-content-width: min(1400px, 90vw);
    --global-section-padding: clamp(3rem, 4vw, 5rem);
    --global-component-padding: clamp(1.5rem, 2.5vw, 2.5rem);
    --global-section-background: #eceeec;
    --global-hover-opacity: 0.7;
    --global-summary-box-padding: 5%;
    --global-summary-box-background: #f9f9f9;
    --global-signup-card-horizontal-padding: min(50px, 10vw);
    --global-input-field-font-size: 1rem;
    --global-input-field-placeholder-color: #ccc;
    --global-input-field-padding-y: 1.1rem;
    --global-input-field-padding-x: 1.7rem;
    --global-textarea-padding-y: 1.1rem;
    --global-textarea-padding-x: 1.7rem;
    --global-selector-padding-y: 1.1rem;
    --global-selector-padding-x: 1.7rem;
    --global-input-field-border: 1px solid #ccc;
    --global-input-field-border-radius: 15px;
    --global-input-field-hover-border: 1px solid #aaa;
  }
