
/*
----------------------------------------
Colors
----------------------------------------
*/

@import "./colors/blue";
@import "./colors/gray";
@import "./colors/green";
@import "./colors/orange";
@import "./colors/purple";
@import "./colors/red";
@import "./colors/primary";
@import "./colors/secondary";

$system-color-black-transparent: (
  "black-transparent": (
    100: rgba(0, 0, 0, 0.01),
    200: rgba(0, 0, 0, 0.1),
    300: rgba(0, 0, 0, 0.2),
    400: rgba(0, 0, 0, 0.3),
    500: rgba(0, 0, 0, 0.4),
    600: rgba(0, 0, 0, 0.5),
    700: rgba(0, 0, 0, 0.6),
    800: rgba(0, 0, 0, 0.7),
    900: rgba(0, 0, 0, 0.8),
    950: rgba(0, 0, 0, 0.9)
  )
);

$system-color-white-transparent: (
  "white-transparent": (
    100: rgba(255, 255, 255, 0.01),
    200: rgba(255, 255, 255, 0.1),
    300: rgba(255, 255, 255, 0.2),
    400: rgba(255, 255, 255, 0.3),
    500: rgba(255, 255, 255, 0.4),
    600: rgba(255, 255, 255, 0.5),
    700: rgba(255, 255, 255, 0.6),
    800: rgba(255, 255, 255, 0.7),
    900: rgba(255, 255, 255, 0.8),
    950: rgba(255, 255, 255, 0.9)
  )
);
$theme-colors: () !default;

$system-colors: map-collect(
    $theme-colors,
    $system-color-blue,
    $system-color-gray,
    $system-color-green,
    $system-color-orange,
    $system-color-purple,
    $system-color-red,
    $system-color-black-transparent,
    $system-color-white-transparent,
    $system-color-primary,
    $system-color-secondary
);



/*
----------------------------------------
General Colors
----------------------------------------
*/

//Primary
$color-primary-100: get-system-color("primary", 100);
$color-primary-200: get-system-color("primary", 200);
$color-primary-300: get-system-color("primary", 300);
$color-primary-400: get-system-color("primary", 400);
$color-primary-500: get-system-color("primary", 500);
$color-primary-600: get-system-color("primary", 600);
$color-primary-700: get-system-color("primary", 700);
$color-primary-800: get-system-color("primary", 800);
$color-primary-900: get-system-color("primary", 900);

//secondary
$color-secondary-100: get-system-color("secondary", 100);
$color-secondary-200: get-system-color("secondary", 200);
$color-secondary-300: get-system-color("secondary", 300);
$color-secondary-400: get-system-color("secondary", 400);
$color-secondary-500: get-system-color("secondary", 500);
$color-secondary-600: get-system-color("secondary", 600);
$color-secondary-700: get-system-color("secondary", 700);
$color-secondary-800: get-system-color("secondary", 800);
$color-secondary-900: get-system-color("secondary", 900);
//Secondary

// Blue
$color-blue-100: get-system-color("blue", 100);
$color-blue-700: get-system-color("blue", 700);
$color-blue-800: get-system-color("blue", 800);
$color-blue-900: get-system-color("blue", 900);

// Gray
$color-gray-100: get-system-color("gray", 100);
$color-gray-200: get-system-color("gray", 200);
$color-gray-300: get-system-color("gray", 300);
$color-gray-400: get-system-color("gray", 400);
$color-gray-500: get-system-color("gray", 500);
$color-gray-600: get-system-color("gray", 600);
$color-gray-900: get-system-color("gray", 900);

// Green
$color-green-100: get-system-color("green", 100);
$color-green-700: get-system-color("green", 700);

// Orange
$color-orange-100: get-system-color("orange", 100);
$color-orange-700: get-system-color("orange", 700);

// Purple
$color-purple-700: get-system-color("purple", 700);

// Red
$color-red-100: get-system-color("red", 100);
$color-red-700: get-system-color("red", 700);

// Black transparent
$color-black-transparent-100: get-system-color("black-transparent", 100);
$color-black-transparent-200: get-system-color("black-transparent", 200);
$color-black-transparent-300: get-system-color("black-transparent", 300);
$color-black-transparent-400: get-system-color("black-transparent", 400);
$color-black-transparent-500: get-system-color("black-transparent", 500);
$color-black-transparent-600: get-system-color("black-transparent", 600);
$color-black-transparent-700: get-system-color("black-transparent", 700);
$color-black-transparent-800: get-system-color("black-transparent", 800);
$color-black-transparent-900: get-system-color("black-transparent", 900);
$color-black-transparent-950: get-system-color("black-transparent", 905);

// White transparent
$color-white-transparent-100: get-system-color("white-transparent", 100);
$color-white-transparent-200: get-system-color("white-transparent", 200);
$color-white-transparent-300: get-system-color("white-transparent", 300);
$color-white-transparent-400: get-system-color("white-transparent", 400);
$color-white-transparent-500: get-system-color("white-transparent", 500);
$color-white-transparent-600: get-system-color("white-transparent", 600);
$color-white-transparent-700: get-system-color("white-transparent", 700);
$color-white-transparent-800: get-system-color("white-transparent", 800);
$color-white-transparent-900: get-system-color("white-transparent", 900);
$color-white-transparent-950: get-system-color("white-transparent", 950);

$system-color-shortcodes: (
  "transparent": transparent,
  "black": $color-gray-900,
  "white": white,
  "primary-100": $color-primary-100,
  "primary-200": $color-primary-200,
  "primary-300": $color-primary-300,
  "primary-400": $color-primary-400,
  "primary-500": $color-primary-500,
  "primary-600": $color-primary-600,
  "primary-700": $color-primary-700,
  "primary-800": $color-primary-800,
  "primary-900": $color-primary-900,
  "secondary-100": $color-secondary-100,
  "secondary-200": $color-secondary-200,
  "secondary-300": $color-secondary-300,
  "secondary-400": $color-secondary-400,
  "secondary-500": $color-secondary-500,
  "secondary-600": $color-secondary-600,
  "secondary-700": $color-secondary-700,
  "secondary-800": $color-secondary-800,
  "secondary-900": $color-secondary-900,
  "blue-100": $color-blue-100,
  "blue-700": $color-blue-700,
  "blue-800": $color-blue-800,
  "blue-900": $color-blue-900,
  "gray-100": $color-gray-100,
  "gray-200": $color-gray-200,
  "gray-300": $color-gray-300,
  "gray-400": $color-gray-400,
  "gray-500": $color-gray-500,
  "gray-600": $color-gray-600,
  "gray-900": $color-gray-900,
  "green-100": $color-green-100,
  "green-700": $color-green-700,
  "orange-100": $color-orange-100,
  "orange-700": $color-orange-700,
  "purple-700": $color-purple-700,
  "red-100": $color-red-100,
  "red-700": $color-red-700,
  "black-transparent-100": $color-black-transparent-100,
  "black-transparent-200": $color-black-transparent-200,
  "black-transparent-300": $color-black-transparent-300,
  "black-transparent-400": $color-black-transparent-400,
  "black-transparent-500": $color-black-transparent-500,
  "black-transparent-600": $color-black-transparent-600,
  "black-transparent-700": $color-black-transparent-700,
  "black-transparent-800": $color-black-transparent-800,
  "black-transparent-900": $color-black-transparent-900,
  "black-transparent-950": $color-black-transparent-950,
  "white-transparent-100": $color-white-transparent-100,
  "white-transparent-200": $color-white-transparent-200,
  "white-transparent-300": $color-white-transparent-300,
  "white-transparent-400": $color-white-transparent-400,
  "white-transparent-500": $color-white-transparent-500,
  "white-transparent-600": $color-white-transparent-600,
  "white-transparent-700": $color-white-transparent-700,
  "white-transparent-800": $color-white-transparent-800,
  "white-transparent-900": $color-white-transparent-900,
  "white-transparent-950": $color-white-transparent-950
);


/*
----------------------------------------
Theme color map
----------------------------------------
*/
$project-colors: (
  "primary": (
    "lightest": color($theme-color-primary-lightest, set-theme),
    "lighter": color($theme-color-primary-lighter, set-theme),
    "light": color($theme-color-primary-light, set-theme),
    "default": color($theme-color-primary, set-theme),
    "dark": color($theme-color-primary-dark, set-theme),
    "darker": color($theme-color-primary-darker, set-theme),
    "darkest": color($theme-color-primary-darkest, set-theme)
  )
);

$project-state-colors: (
  "error": (
    "light": color($theme-color-error-light, set-theme),
    "default": color($theme-color-error, set-theme),
  ),
  "warning": (
    "light": color($theme-color-warning-light, set-theme),
    "default": color($theme-color-warning, set-theme),
  ),
  "success": (
    "light": color($theme-color-success-light, set-theme),
    "default": color($theme-color-success, set-theme),
  ),
  "info": (
    "light": color($theme-color-info-light, set-theme),
    "default": color($theme-color-info, set-theme),
  ),
  "disabled": (
    "light": color($theme-color-disabled-light, set-theme),
    "default": color($theme-color-disabled, set-theme),
  )
);

$all-project-colors: map-collect($project-colors, $project-state-colors);

/*
----------------------------------------
Theme color shortcodes
----------------------------------------
*/

$tokens-color-theme: (
  "ink": color($theme-color-ink, set-theme, no-warn),
  "ink-light": color($theme-color-ink-light, set-theme, no-warn),
  "primary-lightest": color($theme-color-primary-lightest, set-theme, no-warn),
  "primary-lighter": color($theme-color-primary-lighter, set-theme, no-warn),
  "primary-light": color($theme-color-primary-light, set-theme, no-warn),
  "primary": color($theme-color-primary, set-theme, no-warn),
  "primary-dark": color($theme-color-primary-dark, set-theme, no-warn),
  "primary-darker": color($theme-color-primary-darker, set-theme, no-warn),
  "primary-darkest": color($theme-color-primary-darkest, set-theme, no-warn),
  "secondary-lightest": color($theme-color-secondary-lightest, set-theme, no-warn),
  "secondary-lighter": color($theme-color-secondary-lighter, set-theme, no-warn),
  "secondary-light": color($theme-color-secondary-light, set-theme, no-warn),
  "secondary": color($theme-color-secondary, set-theme, no-warn),
  "secondary-dark": color($theme-color-secondary-dark, set-theme, no-warn),
  "secondary-darker": color($theme-color-secondary-darker, set-theme, no-warn),
  "secondary-darkest": color($theme-color-secondary-darkest, set-theme, no-warn),
);

$tokens-color-state: (
  "error-light": color($theme-color-error-light, set-theme, no-warn),
  "error": color($theme-color-error, set-theme, no-warn),
  "warning-light": color($theme-color-warning-light, set-theme, no-warn),
  "warning": color($theme-color-warning, set-theme, no-warn),
  "success-light": color($theme-color-success-light, set-theme, no-warn),
  "success": color($theme-color-success, set-theme, no-warn),
  "info-light": color($theme-color-info-light, set-theme, no-warn),
  "info": color($theme-color-info, set-theme, no-warn),
  "disabled-light": color($theme-color-disabled-light, set-theme, no-warn),
  "disabled": color($theme-color-disabled, set-theme, no-warn),
  "disabled-dark": color($theme-color-disabled-dark, set-theme, no-warn),
);

$project-color-shortcodes: map-collect(
    $tokens-color-theme,
    $tokens-color-state
);

$all-color-shortcodes: map-collect(
    $system-color-shortcodes,
    $project-color-shortcodes
);
